{% extends "base.html" %}

 {% load static %}

 {% block title %}

 COMING SOON
 {% endblock title %}

{% block contect %}

  <!--====== PAGE BANNER PART START ======-->
    
  <section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url({% static 'images/home1.png' %})" style="background-color: blue;">
    <div class="container" style="background-color: rgb(61, 238, 149);">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>COMING SOON</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">COMING SOON</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->


                <div class="error-page" st>
                    <div class="middle">
                        <h1>COMING SOON</h1>
                        <h4 style='color:red;'>Oops! This page can't be found</h4>
                        <p style='color:white'>Sorry, but the page you are looking for does not exist or has been removed.</p>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>


    <!--====== PATNAR LOGO PART START ======-->

{% comment %} <div id="patnar-logo" class="pt-40 pb-80 gray-bg">
    <div class="container">
        <div class="row patnar-slied">
            <div class="col-lg-12">
                <div class="singel-patnar text-center mt-40">
                    <img src="{% static 'images/patnar-logo/p-1.png' %}" alt="Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="singel-patnar text-center mt-40">
                    <img src="{% static 'images/patnar-logo/p-2.png' %}" alt="Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="singel-patnar text-center mt-40">
                    <img src="{% static 'images/patnar-logo/p-3.png' %}" alt="Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="singel-patnar text-center mt-40">
                    <img src="{% static 'images/patnar-logo/p-4.png' %}" alt="Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="singel-patnar text-center mt-40">
                    <img src="{% static 'images/patnar-logo/p-2.png' %}" alt="Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="singel-patnar text-center mt-40">
                    <img src="{% static 'images/patnar-logo/p-3.png' %}" alt="Logo">
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>  {% endcomment %}

<!--====== PATNAR LOGO PART ENDS ======-->


	
    
    {% endblock contect %}